[run]
branch = False
concurrency = gevent
data_file = .coverage
omit =
    selenium_docker/helpers.py

[report]
fail_under = 75
precision = 0
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if config.debug: